@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input{
    border-radius: 20px;
    padding: .8rem 3rem;
    margin: .5rem 0;
    outline: none;
    font-weight: 500;
}

.icon-input{
    padding: 1rem;
    border-radius: 15px;
    color: white;
}



